/* not currently doing anything */
.button {
    display: inline-block;
    padding: 0.5em 1em;
    background: purple;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 100px;
    font-family: 'Open Sans', sans-serif;
}
